body{
	font-family: arial, helvetica, sans-serif;

}

h3{
	border-style: solid;
	border-width: .1em;
	padding: 10px;
	border-color: #d3d3d3;
	background-color: white;
	max-width: 300px;
	margin-bottom: 10px;
}

.imgs{
	max-width: 300px;
	min-width: 300px;
	padding: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: .1em;
	border-color: #d3d3d3;
	background-color: white;
}

.list{
	font-style: italic;
}

li span{
	font-weight: bold;
}

ul{
	list-style-type: none;
	margin-left: 0;
	padding:0;
}

.card{
	border-style: solid;
	border-width: .1em;
	padding: 30px;
	border-color: #d3d3d3;
	max-width: 350px;
	min-width: 350px;
	box-shadow: 10px 10px #d3d3d3;
	background-color: #e6ffff;
	max-height: 90%;


}

.facts{
	border-style: solid;
	border-width: .1em;
	padding: 10px;
	border-color: #d3d3d3;
	max-width: 300px;
	background-color: #ffffff;
}